/*

body {
  background-color: #ffffff;
  color: #000000;
  /*erste Schriftart = Standart, dann Zweite Wahl usw.
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

* {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

*/

div#map {
  width: 1400px;
  height: 800px;
}

.leaflet-interactive:hover {
   /*stroke-width: 6;
   stroke-width: 6;
   stroke: blue;
   fill-opacity: 1;
   fill: #00b2ee;*/

   fill: #00b2ee;


}
